<div class="cart">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <span class="cart-title">Cart</span>
      <div class="cart-counter" *ngIf='items?.length > 0'>
        <button mat-mini-fab color='primary'>{{ items.length }}</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="cart-card">
    <mat-card-content>
      <div *ngIf='items?.length > 0; else emptyCart'>
        <p>Products:</p>        
        <mat-list>
          <app-cart-item *ngFor='let item of items' [item]="item" (onQuantityChange)="cartService.changeQuantity($event.item, $event.quantity)"></app-cart-item>
        </mat-list>
        <span>Total: {{total}}$</span>
      </div>
      <ng-template #emptyCart>Cart is empty...</ng-template>
    </mat-card-content>
  </mat-card>
</div>
