<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ product.description }}</p>
    <div *ngIf='product.equivalents?.length > 0'>
      <br/>    
      Equivalents:
      <span *ngFor='let equivalent of product.equivalents'>{{ equivalent }} </span>
    </div>
    <div *ngIf='product.ingredients?.length > 0'>
      <br/>
      Ingredients:
      <span *ngFor='let ingredient of product.ingredients'>{{ ingredient }} </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addToCart(product)" *ngIf='product.isAvailable' color='primary'>BUY ({{ product.price }}$)</button>
    <button mat-raised-button *ngIf='!product.isAvailable' color="warn">Out of Stock</button>
  </mat-card-actions>
</mat-card>
